.login-section{
    height: 80%;
}


.login-container{
    width: clamp(350px, 30%, 35%);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);
    height: auto;
    padding: 8vh 0 ;
    gap: 5vh;

}

.login-form{
    width:clamp(320px, 30%, 35%);
    box-shadow: none;
}

.login-btn{
    width: clamp(70px, 90%, 90%);
    height: 6vh;
}

.header{
    height: 0;
}