.data-form{
    display: flex;
    flex-direction: row;
    gap: 8vw;
    height: 100%;
}

.register-form{
    width: clamp(350px, 60%, 60%);
    height: 780px;
    gap: 7vh;
    padding: 10vh 0;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    gap: 3vh;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    width: 100%;
}

.btn-register{
    width: clamp(100px, 20%, 25%);
}

.header{
    height: 0;
}

@media (width <= 768px){
    .data-form{
        flex-direction: column;
        height: auto;
    }

    .btn-div{
        flex-direction: column;
        gap: 2vh;

    }

    .register-form{
        height: auto;
    }

    .register-section{
        height: 500px;
    }

    .btn-div{
        align-items: center;
    }

}
